@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css);

*{
    margin:0;
    padding:0;
}
body {
    margin: 0px;
    padding: 0px;
    /*background-image: url(https://wallpaperscraft.com/image/street_city_evening_black_white_lights_buildings_hdr_25485_1920x1080.jpg);*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
}
.table-wrapper{
    margin: 40px 150px;
    /*margin: 40px 255px;*/
    /*margin: 40px 150px;*/
    /*border: 1px solid red;*/
}
.table .thead-backg th {
    color: #fff;
    background: #232c5f!important;
    border-top: 1px solid #232c5f;
    /*border-color: #232c5f;*/
    /*border-top-color: #232c5f!important;*/
}
table.table..thead-backg thead th {
    border-top: 1px solid #232c5f!important;
}
.thead-backg> input[type="text"]:hover,.thead-backg input[type="text"]:focus{
    border-bottom: 1px solid transparent!important;
}
.thead-backg th {
    white-space: nowrap;
}

.result th {
    font-size: .9rem;
    font-weight: normail!important; 
}

.hidden{
    display: none;
}

.output-table{
    margin: 40px 50px;
    /*margin: 40px 150px;*/
    /*border: 1px solid red;*/
}

input[type=datetime-local], input[type=email], input[type=number], input[type=password], input[type=search-md], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], textarea.md-textarea{
   /*color: #495057;*/
    color: #464545;
    font-weight: 400;
}

#loading{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}

input[type=date]{
    color: #464545;
    font-weight: 400;
    width: auto;
}

.submit-backg{
    background: red;
}

/*.btn.btn-sm {
    font-size: .6rem;
    padding: .3rem 0.6rem;
    margin-left: -8px;
}*/

/*css for not transforming placeholder text*/
input { 
        text-transform: uppercase;
}
::-webkit-input-placeholder { /* WebKit browsers */
    text-transform: none;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    text-transform: none;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    text-transform: none;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    text-transform: none;
}
